{% extends 'monitor/base.html' %}

{% block title %}空氣品質監測 | {{ block.super }}{% endblock title %}

{% block nav2 %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'aqm' %}"><strong>空氣品質監測</strong></a>
    </li>
{% endblock nav2 %}

{% block main %}
{{ block.super }}
<div class="introduce-bg2 introduce-mid">
    <h1><span class="badge" style="background-color:#45455d;">空氣品質監測</span></h1>
    
    <ul class="nav nav-pills mt-3 mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-tab-1" data-toggle="pill" href="#pills-1" title="PMSA003粉塵感測器，使用雷射對pm1.0、pm2.5、pm10粉塵進行感測。">
                懸浮微粒
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-tab-2" data-toggle="pill" href="#pills-2" title="TGS2602氣體感測器對VOC(揮發性有機化合物)、酒精、氨氣的靈敏度高。">
                VOC
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-tab-4" data-toggle="pill" href="#pills-4" title="MQ-9 氣體感測器對一氧化碳、甲烷、液化氣的靈敏度高。">
                MQ-9
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-tab-3" data-toggle="pill" href="#pills-3" title="MQ135氣體感測器對氨氣、硫化物、苯系蒸汽的靈敏度高，對煙霧也很理想。">
                MQ-135
            </a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <!-- 懸浮微粒 -->
        <div class="tab-pane fade show active" id="pills-1" role="tabpanel">
            <div>
                <div class="card-deck mb-3">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 id="pm1_num">25</h4>
                                    <p class="mb-0">PM 1.0</p>
                                    <small>(μg/m<sup>3</sup>)</small>
                                </div>
                                <div class="col-md-6">
                                    <canvas id="chart_pm1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 id="pm25_num">50</h4>
                                    <p class="mb-0">PM 2.5</p>
                                    <small>細懸浮微粒 (μg/m<sup>3</sup>)</small>
                                </div>
                                <div class="col-md-6">
                                    <canvas id="chart_pm25"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 id="pm10_num">100</h4>
                                    <p class="mb-0">PM 10</p>
                                    <small>懸浮微粒 (μg/m<sup>3</sup>)</small>
                                </div>
                                <div class="col-md-6">
                                    <canvas id="chart_pm10"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
        
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <div class="card bg-dark">
                            <div class="card-header">
                                <div class="row justify-content-between">
                                    <div class="col-4">
                                        <h5 style="display: inline;">空氣品質 - 懸浮微粒</h5>
                                    </div>
                                    
                                    <div class="col-5 ">
                                        <div class="row justify-content-end">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Dropdown button
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <form class="px-2">
                                                        
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="customRadio_pm_today" name="customRadio_pm" class="custom-control-input" value="today" CHECKED>
                                                            <label class="custom-control-label d-flex justify-content-between" for="customRadio_pm_today">
                                                                <span>今天</span>
                                                                <span class="text-muted" id="date_pm_today">10/25</span>
                                                            </label>
                                                        </div>
                                        
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="customRadio_pm_yesterday" name="customRadio_pm" class="custom-control-input" value="yesterday">
                                                            <label class="custom-control-label d-flex justify-content-between" for="customRadio_pm_yesterday">
                                                                <span>昨天</span>
                                                                <span class="text-muted" id="date_pm_yesterday">10/24</span>
                                                            </label>
                                                        </div>

                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="customRadio_pm_24hr" name="customRadio_pm" class="custom-control-input" value="24hr">
                                                            <label class="custom-control-label d-flex justify-content-between" for="customRadio_pm_24hr">
                                                                <span>24小時</span>
                                                                <span class="text-muted" id="date_pm_24hr">24hr</span>
                                                            </label>
                                                        </div>
                                        
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="customRadio_pm_custom" name="customRadio_pm" class="custom-control-input" value="custom">
                                                            <label class="custom-control-label d-flex justify-content-between" for="customRadio_pm_custom">
                                                                <input id="flatpickr_pm_date" class="flatpickr flatpickr-input" type="text" placeholder="選擇日期..." size="21">
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body" id="chart_pm_div">
                                <canvas id="chart_pm" style="height:400px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        使用PMSA003 G10 粉塵感測器。懸浮微粒泛指懸浮在空氣中的固體顆粒或液滴。
                        空氣動力學直徑（以下簡稱直徑）小於或等於10微米 (µm)的懸浮微粒稱為懸浮微粒
                        （PM10）；直徑小於或等於2.5微米的懸浮微粒稱為細懸浮微粒（PM2.5）。
                    </div>
                </div>

                <div class="row">
                    <div class="col text-right" style="color:#c1c1c1;">
                        最後一筆數據時間：<span id="updated">2018-11-17T13:43:14.224+08:00</span>
                    </div>
                </div>

            </div>
            
        </div>

        <!-- VOC -->
        <div class="tab-pane fade" id="pills-2" role="tabpanel">
            
            <div>
                <div class="row mt-4">
                    <div class="col-md-4 mb-3">
                        <div class="card bg-dark">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 id="voc_num">10</h4>
                                        <p class="mb-0">VOC</p>
                                    </div>
                                    <div class="col-md-6">
                                        <canvas id="chart_voc"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <div class="card bg-dark">
                            <div class="card-header">
                                <h5>空氣品質 - VOC</h5>
                            </div>
                            <div class="card-body">
                                <canvas id="chart_voc" style="height:400px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
            TGS2602氣體感測器對VOC(揮發性有機化合物)、酒精、氨氣的靈敏度高。
        </div>

        <!-- MQ9 -->
        <div class="tab-pane fade" id="pills-4" role="tabpanel">
            MQ-9 氣體感測器對一氧化碳、甲烷、液化氣的靈敏度高。
        </div>

        <!-- MQ135 -->
        <div class="tab-pane fade" id="pills-3" role="tabpanel">
            MQ135氣體感測器對氨氣、硫化物、苯系蒸汽的靈敏度高，對煙霧和其他有害的監測也很理想。
        </div>

    </div>
    

</div>

{% endblock main %}


{% block script %}
{{ block.super }}
<script>
    
    //------------------
    var airData = {{airData|safe}};

    var air_date_list=[], pm1_list=[], pm25_list=[], pm10_list=[];
    var voc_list=[];
    
    
    var Now = new Date();
    var Today = new Date(Now.getTime());
    Today.setHours(0);
    Today.setMinutes(0);
    Today.setSeconds(0);
    Today.setMilliseconds(0);

    var Yesterday = new Date(Today.getTime());
    Yesterday.setDate(Yesterday.getDate()-1);
    var Tomorrow = new Date(Today.getTime());
    Tomorrow.setDate(Tomorrow.getDate()+1);

    var Date_A = new Date(Today.getTime());
    Date_A.setDate(Date_A.getDate()-3);
    var Date_B = new Date(Tomorrow.getTime());

    window.onload = function() {
        $("#date_today").html((Today.getMonth()+1)+"/"+Today.getDate());
        $("#date_yesterday").html((Yesterday.getMonth()+1)+"/"+Yesterday.getDate());
        updateData(Today, Tomorrow);
        updateChartNow();
        updateChartLine();

    }

    var Today_format = Today.getFullYear() + "-" + (Today.getMonth() + 1) + "-" + Today.getDate();
    var Day3_format = Today.getFullYear() + "-" + (Today.getMonth() + 1) + "-" + (Today.getDate()-3);
    const fp_pm = flatpickr("#flatpickr_pm_date", {
        locale: "zh",
        mode: "range",
        maxDate: "today",
        dateFormat: "Y/m/d",
        defaultDate: [Day3_format,Today_format],

        onClose:function(selectedDates, dateStr, instance){
            Date_A = selectedDates[0];
            Date_B = selectedDates[1];
            Date_B.setDate(Date_B.getDate()+1);
            $("input[name=customRadio_pm][value='custom']").attr('checked',true);
            //calcDate(Date_A, Date_B);
            updateData(Date_A, Date_B);
            updateChartLine();
        }
    });
    
    var customRadio_pm = $("input[name=customRadio_pm]:radio");
    customRadio_pm.change(function () {
        console.log($(this).val())
        if($(this).val() == "today"){
            console.log(Today);
            console.log(Tomorrow);
            updateData(Today, Tomorrow);
            updateChartLine();
        }
        else if($(this).val() == "yesterday"){
            updateData(Yesterday, Today);
            updateChartLine();
        }
        else if($(this).val() == "24hr"){
            var date24hr = new Date(Now.getTime());
            date24hr.setDate(date24hr.getDate()-1);
            updateData(date24hr, Now);
            updateChartLine();
        }
        else if($(this).val() == "custom"){
            updateData(Date_A, Date_B);
            updateChartLine();
        }
        
    });

    function updateData(dateA, dateB) {
        var temp_year;
        air_date_list=[], pm1_list=[], pm25_list=[], pm10_list=[];
        voc_list=[];
        
        for (var i = 0; i < airData.length; i++) {
            var datetime = new Date(airData[i].creation_date)
            if(datetime >= dateA && datetime < dateB){
                var date_format = datetime.getFullYear() +"/"+
                            ('0'+ (datetime.getMonth()+1)).substr(-2) +"/"+
                            ('0'+ datetime.getDate()).substr(-2) +" "+
                            ('0'+ datetime.getHours()).substr(-2) +":"+
                            ('0'+ datetime.getMinutes()).substr(-2);
                if (air_date_list[air_date_list.length-1]){
                    if (datetime.getFullYear() == temp_year)
                        date_format = date_format.substring(5, date_format.length)
                    else
                        temp_year = datetime.getFullYear();
                }
                else{
                    temp_year = datetime.getFullYear();
                }
                
                air_date_list.push(date_format);
                pm1_list.push(airData[i].pm1);
                pm25_list.push(airData[i].pm25);
                pm10_list.push(airData[i].pm10);
            }
        }

    }

    function createConfigNow(label, data, color) {
        return {
            type: 'doughnut',
            data: {
                datasets: [{
                    label: label,
                    data: data,
                    backgroundColor: [color, "rgb(150, 150, 150)"],
                    borderWidth: 1,
                }]
            },
            options: {
                rotation: 0.5 * Math.PI,
                legend: {
                    display: false,
                },
                tooltips: {
                    enabled: false,
                }
            }
        };
    }

    function createConfigLine(labels, datasets) {
        return {
            type: "line",
            data: {
                labels: labels,
                datasets: datasets,
            },
            options: {
                animation: {
                    duration: 0,
                },
                hover: {
                    animationDuration: 0, // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0, // animation duration after a resize
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        ticks: {
                            fontColor: "#CCCCCC",
                        },
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontColor: "#CCCCCC",
                        },
                    }],
                },
                legend: {
                    labels: {
                        fontColor: "#CCCCCC",
                    }
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
            }
        };
    }


    function updateChartNow() {
        var temp_date = new Date(airData[airData.length-1].creation_date)
        var update_time = temp_date.getFullYear() +"/"+
                            ('0'+ (temp_date.getMonth()+1)).substr(-2) +"/"+
                            ('0'+ temp_date.getDate()).substr(-2) +" "+
                            ('0'+ temp_date.getHours()).substr(-2) +":"+
                            ('0'+ temp_date.getMinutes()).substr(-2);
        $("#updated").html(update_time);

        // -----懸浮微粒-----
        var airData_now = airData[airData.length-1];

        var pm1_now = airData_now.pm1;
        var pm25_now = airData_now.pm25;
        var pm10_now = airData_now.pm10
        $("#pm1_num").html(pm1_now);
        $("#pm25_num").html(pm25_now);
        $("#pm10_num").html(pm10_now);

        var pm25_color =(pm25_now<12 && "#90EE90") || (pm25_now<24 && "#00FF00") ||
                    (pm25_now<36 && "#008000") || (pm25_now<42 && "#FFFF00") ||
                    (pm25_now<48 && "#FFCC66") || (pm25_now<54 && "#FFA500") ||
                    (pm25_now<59 && "#FFA500") || (pm25_now<65 && "#FFA500") ||
                    (pm25_now<71 && "#FFA500") || "#FF00FF";
        if (pm25_now > 100) {
            pm25_now = 100
        }
        
        var pm10_color =(pm10_now<17 && "#90EE90") || (pm10_now<34 && "#00FF00") ||
                    (pm10_now<51 && "#008000") || (pm10_now<59 && "#FFFF00") ||
                    (pm10_now<67 && "#FFCC66") || (pm10_now<76 && "#FFA500") ||
                    (pm10_now<84 && "#FFA500") || (pm10_now<92 && "#FFA500") ||
                    (pm10_now<101 && "#FFA500") || "#FF00FF";
        if (pm10_now > 120) {
            pm10_now = 120
        }


        var ctx_pm1 = document.getElementById("chart_pm1");
        var config_pm1 = createConfigNow("PM 0.1", [pm1_now,100-pm1_now], "rgb(255, 255, 255)");
        new Chart(ctx_pm1, config_pm1);

        var ctx_pm25 = document.getElementById("chart_pm25");
        var config_pm25 = createConfigNow("PM 2.5", [pm25_now,100-pm25_now], pm25_color);
        new Chart(ctx_pm25, config_pm25);

        var ctx_pm10 = document.getElementById("chart_pm10");
        var config_pm10 = createConfigNow("PM 1.0", [pm10_now,120-pm10_now], pm10_color);
        new Chart(ctx_pm10, config_pm10);
    }
    
    function updateChartLine() {
        // -----懸浮微粒-----
        $('#chart_pm').remove();
        $('#chart_pm_div').append('<canvas id="chart_pm" style="height:400px"></canvas>');

        var ctx_pm = document.getElementById("chart_pm");
        var datasets_pm = 
                [{
                    label: "pm 1.0",
                    data: pm1_list,
                    backgroundColor: "rgba(50, 255, 100, 0.3)",
                    borderColor: "rgba(50,255,100,1)",
                    fill: "start",
                    lineTension: 0,
                    pointRadius: 1,
                }, {
                    label: "pm 2.5",
                    data: pm25_list,
                    backgroundColor: "rgba(50, 150, 255, 0.3)",
                    borderColor: "rgba(50,150,255,1)",
                    fill: "start",
                    lineTension: 0,
                    pointRadius: 1,
                }, {
                    label: "pm 10",
                    data: pm10_list,
                    backgroundColor: "rgba(255, 150, 50, 0.3)",
                    borderColor: "rgba(255,150,50,1)",
                    fill: "start",
                    lineTension: 0,
                    pointRadius: 1,
                }];
        var config_pm = createConfigLine(air_date_list, datasets_pm);
        new Chart(ctx_pm, config_pm);
        


        // -----VOC-----
        var voc_now = voc_list[voc_list.length - 1];
        $("#voc_num").html(voc_now);

        var ctx_voc = document.getElementById("chart_voc");
        var config_voc = createConfigNow("VOC", [voc_now,100-voc_now], "rgb(255, 255, 255)");
        new Chart(ctx_voc, config_voc);
        

        var ctx_voc2 = document.getElementById("chart_voc2");
        var datasets_voc2 = 
                [{
                    label: "VOC",
                    data: voc_list,
                    backgroundColor: "rgba(50, 255, 100, 0.3)",
                    borderColor: "rgba(50,255,100,1)",
                    fill: "start",
                    lineTension: 0,
                }];
        var config_voc2 = createConfigLine(air_date_list, datasets_voc2);
        new Chart(ctx_voc2, config_voc2);

    }




    function calcDate(dateA, dateB) {
        var msecPerMinute = 1000 * 60;
        var msecPerHour = msecPerMinute * 60;
        var msecPerDay = msecPerHour * 24;

        var interval = dateB.getTime() - dateA.getTime();

        var days = Math.floor(interval / msecPerDay );
        interval = interval - (days * msecPerDay );

        var hours = Math.floor(interval / msecPerHour );
        interval = interval - (hours * msecPerHour );

        var minutes = Math.floor(interval / msecPerMinute );
        interval = interval - (minutes * msecPerMinute );

        var seconds = Math.floor(interval / 1000 );

        console.log("差距 " + days + "天 " + hours + "小時 " + minutes + "分 " + seconds + "秒.");
    }
    
</script>

{% endblock script %}
