{% extends 'monitor/base.html' %}

{% block title %}空氣品質監測 | {{ block.super }}{% endblock title %}

{% block nav2 %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'aqm_pm' %}"><strong>空氣品質監測</strong></a>
    </li>
{% endblock nav2 %}

{% block main %}
{{ block.super }}
<div class="introduce-bg2 introduce-mid">
    <h1><span class="badge" style="background-color:#45455d;">空氣品質監測</span></h1>
    
    <ul class="nav nav-pills mt-3 mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            {% block aqm_nav1 %}
            <a class="nav-link" href="{% url 'aqm_pm' %}" title="PMSA003粉塵感測器，使用雷射對pm1.0、pm2.5、pm10粉塵進行感測。">
                懸浮微粒
            </a>
            {% endblock aqm_nav1 %}
        </li>
        <li class="nav-item">
            {% block aqm_nav2 %}
            <a class="nav-link" href="{% url 'aqm_voc' %}" title="TGS2602氣體感測器對VOC(揮發性有機化合物)、酒精、氨氣的靈敏度高。">
                VOC
            </a>
            {% endblock aqm_nav2 %}
        </li>
        <li class="nav-item">
            {% block aqm_nav3 %}
            <a class="nav-link" href="{% url 'aqm_mq9' %}" title="MQ-9 氣體感測器對一氧化碳、甲烷、液化氣的靈敏度高。">
                MQ-9
            </a>
            {% endblock aqm_nav3 %}
        </li>
        <li class="nav-item">
            {% block aqm_nav4 %}
            <a class="nav-link" href="{% url 'aqm_mq135' %}" title="MQ135氣體感測器對氨氣、硫化物、苯系蒸汽的靈敏度高，對煙霧也很理想。">
                MQ-135
            </a>
            {% endblock aqm_nav4 %}
        </li>
        <li class="nav-item">
            {% block aqm_nav5 %}
            <a class="nav-link" href="{% url 'aqm_th' %}" title="對於許多空氣感測元件，溫溼度是個重要的影響因素。">
                溫溼度
            </a>
            {% endblock aqm_nav5 %}
        </li>
    </ul>
    

    <div>
        <div class="card-deck mb-3">
            <div class="card bg-dark">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 id="now1_num">25</h4>
                            <p class="mb-0" id="now1_title">PM 1.0</p>
                            <small id="now1_txt">(μg/m<sup>3</sup>)</small>
                        </div>
                        <div class="col-md-6">
                            <canvas id="now1_chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            {% block aqm_now %}
            {% endblock aqm_now %}
        </div>
        

        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="card bg-dark">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-7">
                                <h5 style="display: inline;" id="line_title">空氣品質 - 懸浮微粒</h5>
                            </div>
                            
                            <div class="col-5">
                                <div class="row justify-content-end">
                                    <div class="dropdown" id="dropdown">
                                        <button class="btn btn-outline-warning btn-sm dropdown-toggle" id="dropdown_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            近360筆
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <form class="px-2">
                                                <div class="custom-control custom-radio mb-2">
                                                    <input type="radio" id="customRadio_record" name="customRadio" class="custom-control-input" value="record" CHECKED>
                                                    <label class="custom-control-label d-flex justify-content-between" for="customRadio_record">
                                                        <span>最近
                                                            <input type="text" id="input_record" value="360" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="4" size="3">
                                                            筆
                                                        </span>
                                                        <span class="text-muted" id="date_record">筆數</span>
                                                    </label>
                                                </div>

                                                <div class="custom-control custom-radio mb-2">
                                                    <input type="radio" id="customRadio_today" name="customRadio" class="custom-control-input" value="today">
                                                    <label class="custom-control-label d-flex justify-content-between" for="customRadio_today">
                                                        <span>今天</span>
                                                        <span class="text-muted" id="date_today">10/25</span>
                                                    </label>
                                                </div>
                                
                                                <div class="custom-control custom-radio mb-2">
                                                    <input type="radio" id="customRadio_yesterday" name="customRadio" class="custom-control-input" value="yesterday">
                                                    <label class="custom-control-label d-flex justify-content-between" for="customRadio_yesterday">
                                                        <span>昨天</span>
                                                        <span class="text-muted" id="date_yesterday">10/24</span>
                                                    </label>
                                                </div>

                                                <div class="custom-control custom-radio mb-2">
                                                    <input type="radio" id="customRadio_24hr" name="customRadio" class="custom-control-input" value="24hr">
                                                    <label class="custom-control-label d-flex justify-content-between" for="customRadio_24hr">
                                                        <span>24小時</span>
                                                        <span class="text-muted" id="date_24hr">24hr</span>
                                                    </label>
                                                </div>
                                
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio_custom" name="customRadio" class="custom-control-input" value="custom">
                                                    <label class="custom-control-label d-flex justify-content-between" for="customRadio_custom">
                                                        <input id="flatpickr_date" class="flatpickr flatpickr-input" type="text" placeholder="選擇日期..." size="21">
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="line_chart_div">
                        <canvas id="line_chart" style="height:400px"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col" id="text">
                文字說明。
            </div>
        </div>

        <div class="row">
            <div class="col text-right" style="color:#c1c1c1;">
                最後一筆數據時間：<span class="updated">2018/11/27 11:14</span>
            </div>
        </div>

    </div>

    
</div>

{% endblock main %}


{% block script %}
{{ block.super }}
<script>
    var airData = {{airData|safe}};
    var air_date_list=[], pm1_list=[], pm25_list=[], pm10_list=[];
    var voc_list=[], mq9_list=[], mq135_list=[], t_list=[], h_list=[];
    
    var Now = new Date();
    var Today = new Date(Now.getTime());
    Today.setHours(0);
    Today.setMinutes(0);
    Today.setSeconds(0);
    Today.setMilliseconds(0);

    var Yesterday = new Date(Today.getTime());
    Yesterday.setDate(Yesterday.getDate()-1);
    var Tomorrow = new Date(Today.getTime());
    Tomorrow.setDate(Tomorrow.getDate()+1);

    var Date_A = new Date(Today.getTime());
    Date_A.setDate(Date_A.getDate()-3);
    var Date_B = new Date(Tomorrow.getTime());

    window.onload = function() {
        $("#date_today").html((Today.getMonth()+1)+"/"+Today.getDate());
        $("#date_yesterday").html((Yesterday.getMonth()+1)+"/"+Yesterday.getDate());
        updateRecord($("#input_record").val());
        updateChartNow();
        updateChartLine();

    }

    var Today_format = Today.getFullYear() + "-" + (Today.getMonth() + 1) + "-" + Today.getDate();
    var Day3_format = Today.getFullYear() + "-" + (Today.getMonth() + 1) + "-" + (Today.getDate()-3);
    const fp = flatpickr("#flatpickr_date", {
        locale: "zh",
        mode: "range",
        maxDate: "today",
        dateFormat: "Y/m/d",
        defaultDate: [Day3_format,Today_format],

        onClose:function(selectedDates, dateStr, instance){
            Date_A = selectedDates[0];
            Date_B = selectedDates[1];
            Date_B.setDate(Date_B.getDate()+1);
            //$("input[name=customRadio][value='custom']").attr('checked',true);
            $("#customRadio_custom").prop("checked", true).trigger("click");
            updateData(Date_A, Date_B);
            updateChartLine();
        }
    });
    
    var customRadio = $("input[name=customRadio]:radio");
    customRadio.change(function () {
        console.log($(this).val())
        if($(this).val() == "today"){
            updateData(Today, Tomorrow);
            updateChartLine();
        }
        else if($(this).val() == "yesterday"){
            updateData(Yesterday, Today);
            updateChartLine();
        }
        else if($(this).val() == "24hr"){
            var date24hr = new Date(Now.getTime());
            date24hr.setDate(date24hr.getDate()-1);
            updateData(date24hr, Now);
            updateChartLine();
        }
        else if($(this).val() == "custom"){
            updateData(Date_A, Date_B);
            updateChartLine();
        }
        else if($(this).val() == "record"){
            updateRecord($("#input_record").val());
            updateChartLine();
        }
        
    });
    
    $('#input_record').change(function() {
        $("#customRadio_record").prop("checked", true).trigger("click");
        updateRecord($("#input_record").val());
        updateChartLine();
    });

    $('#dropdown').on('hide.bs.dropdown', function () {
        var customRadio_val = $('input[name=customRadio]:checked').val();
        
        if(customRadio_val == "today"){
            $("#dropdown_btn").html("今天");
        }
        else if(customRadio_val == "yesterday"){
            $("#dropdown_btn").html("昨天");
        }
        else if(customRadio_val == "24hr"){
            $("#dropdown_btn").html("近24小時");
        }
        else if(customRadio_val == "custom"){
            $("#dropdown_btn").html("自訂日期範圍");
        }
        else if(customRadio_val == "record"){
            $("#dropdown_btn").html("近"+$("#input_record").val()+"筆");
        }
    })

    function updateData(dateA, dateB) {
        var temp_year;
        air_date_list=[], pm1_list=[], pm25_list=[], pm10_list=[];
        voc_list=[], mq9_list=[], mq135_list=[], t_list=[], h_list=[];
        
        for (var i = 0; i < airData.length; i++) {
            var datetime = new Date(airData[i].creation_date)
            if(datetime >= dateA && datetime < dateB){
                var date_format = datetime.getFullYear() +"/"+
                            ('0'+ (datetime.getMonth()+1)).substr(-2) +"/"+
                            ('0'+ datetime.getDate()).substr(-2) +" "+
                            ('0'+ datetime.getHours()).substr(-2) +":"+
                            ('0'+ datetime.getMinutes()).substr(-2);
                if (air_date_list[air_date_list.length-1]){
                    if (datetime.getFullYear() == temp_year)
                        date_format = date_format.substring(5, date_format.length)
                    else
                        temp_year = datetime.getFullYear();
                }
                else{
                    temp_year = datetime.getFullYear();
                }
                
                air_date_list.push(date_format);
                pm1_list.push(airData[i].pm1);
                pm25_list.push(airData[i].pm25);
                pm10_list.push(airData[i].pm10);
                voc_list.push(airData[i].tgs2602);
                mq9_list.push(airData[i].mq9);
                mq135_list.push(airData[i].mq135);
                t_list.push(airData[i].temperature);
                h_list.push(airData[i].humidity);
            }
        }

    }


    function updateRecord(record_num) {
        var temp_year;
        air_date_list=[], pm1_list=[], pm25_list=[], pm10_list=[];
        voc_list=[], mq9_list=[], mq135_list=[], t_list=[], h_list=[];
        
        for (var i = 0; i < airData.length; i++) {
            var datetime = new Date(airData[i].creation_date)
            if(i>=airData.length-record_num){
                var date_format = datetime.getFullYear() +"/"+
                            ('0'+ (datetime.getMonth()+1)).substr(-2) +"/"+
                            ('0'+ datetime.getDate()).substr(-2) +" "+
                            ('0'+ datetime.getHours()).substr(-2) +":"+
                            ('0'+ datetime.getMinutes()).substr(-2);
                if (air_date_list[air_date_list.length-1]){
                    if (datetime.getFullYear() == temp_year)
                        date_format = date_format.substring(5, date_format.length)
                    else
                        temp_year = datetime.getFullYear();
                }
                else{
                    temp_year = datetime.getFullYear();
                }
                
                air_date_list.push(date_format);
                pm1_list.push(airData[i].pm1);
                pm25_list.push(airData[i].pm25);
                pm10_list.push(airData[i].pm10);
                voc_list.push(airData[i].tgs2602);
                mq9_list.push(airData[i].mq9);
                mq135_list.push(airData[i].mq135);
                t_list.push(airData[i].temperature);
                h_list.push(airData[i].humidity);
            }
        }

    }


    function createConfigNow(label, data, color) {
        return {
            type: 'doughnut',
            data: {
                datasets: [{
                    label: label,
                    data: data,
                    backgroundColor: [color, "rgb(150, 150, 150)"],
                    borderWidth: 1,
                }]
            },
            options: {
                rotation: 0.5 * Math.PI,
                legend: {
                    display: false,
                },
                tooltips: {
                    enabled: false,
                }
            }
        };
    }

    function createConfigLine(labels, datasets) {
        return {
            type: "line",
            data: {
                labels: labels,
                datasets: datasets,
            },
            options: {
                animation: {
                    duration: 0,
                },
                hover: {
                    animationDuration: 0, // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0, // animation duration after a resize
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        ticks: {
                            fontColor: "#CCCCCC",
                        },
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontColor: "#CCCCCC",
                        },
                    }],
                },
                legend: {
                    labels: {
                        fontColor: "#CCCCCC",
                    }
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
            }
        };
    }


    function calcDate(dateA, dateB) {
        var msecPerMinute = 1000 * 60;
        var msecPerHour = msecPerMinute * 60;
        var msecPerDay = msecPerHour * 24;

        var interval = dateB.getTime() - dateA.getTime();

        var days = Math.floor(interval / msecPerDay );
        interval = interval - (days * msecPerDay );

        var hours = Math.floor(interval / msecPerHour );
        interval = interval - (hours * msecPerHour );

        var minutes = Math.floor(interval / msecPerMinute );
        interval = interval - (minutes * msecPerMinute );

        var seconds = Math.floor(interval / 1000 );

        console.log("差距 " + days + "天 " + hours + "小時 " + minutes + "分 " + seconds + "秒.");
    }
    
</script>

{% endblock script %}
