{% extends 'monitor/aqm.html' %}


{% block aqm_nav1 %}
<a class="nav-link active" href="{% url 'aqm_pm' %}" title="PMSA003粉塵感測器，使用雷射對pm1.0、pm2.5、pm10粉塵進行感測。">
    懸浮微粒
</a>
{% endblock aqm_nav1 %}


{% block aqm_now %}
{{ block.super }}
<div class="card bg-dark">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h4 id="now2_num">25</h4>
                <p class="mb-0" id="now2_title">PM 1.0</p>
                <small id="now2_txt">(μg/m<sup>3</sup>)</small>
            </div>
            <div class="col-md-6">
                <canvas id="now2_chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="card bg-dark">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h4 id="now3_num">25</h4>
                <p class="mb-0" id="now3_title">PM 1.0</p>
                <small id="now3_txt">(μg/m<sup>3</sup>)</small>
            </div>
            <div class="col-md-6">
                <canvas id="now3_chart"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock aqm_now %}


{% block script %}
{{ block.super }}
<script>
    $("#now1_title").html("PM 1.0");
    $("#now1_txt").html("(μg/m<sup>3</sup>)");
    $("#now2_title").html("PM 2.5");
    $("#now2_txt").html("(μg/m<sup>3</sup>)");
    $("#now3_title").html("PM 10");
    $("#now3_txt").html("(μg/m<sup>3</sup>)");
    $("#line_title").html("空氣品質 - 懸浮微粒");
    $("#text").html("使用PMSA003 G10 粉塵感測器。懸浮微粒泛指懸浮在空氣中的固體顆粒或液滴。\
                    空氣動力學直徑（以下簡稱直徑）小於或等於10微米 (µm)的懸浮微粒稱為懸浮微粒\
                    （PM10）；直徑小於或等於2.5微米的懸浮微粒稱為細懸浮微粒（PM2.5）。");
    


    function updateChartNow(string) {
        var temp_date = new Date(airData[airData.length-1].creation_date)
        var update_time = temp_date.getFullYear() +"/"+
                            ('0'+ (temp_date.getMonth()+1)).substr(-2) +"/"+
                            ('0'+ temp_date.getDate()).substr(-2) +" "+
                            ('0'+ temp_date.getHours()).substr(-2) +":"+
                            ('0'+ temp_date.getMinutes()).substr(-2);
        $(".updated").html(update_time);

        var airData_now = airData[airData.length-1];

        var pm1_now = airData_now.pm1;
        var pm25_now = airData_now.pm25;
        var pm10_now = airData_now.pm10
        $("#now1_num").html(pm1_now);
        $("#now2_num").html(pm25_now);
        $("#now3_num").html(pm10_now);

        var pm25_color =(pm25_now<12 && "#90EE90") || (pm25_now<24 && "#00FF00") ||
                    (pm25_now<36 && "#008000") || (pm25_now<42 && "#FFFF00") ||
                    (pm25_now<48 && "#FFCC66") || (pm25_now<54 && "#FFA500") ||
                    (pm25_now<59 && "#FFA500") || (pm25_now<65 && "#FFA500") ||
                    (pm25_now<71 && "#FFA500") || "#FF00FF";
        if (pm25_now > 100) {
            pm25_now = 100
        }
        
        var pm10_color =(pm10_now<17 && "#90EE90") || (pm10_now<34 && "#00FF00") ||
                    (pm10_now<51 && "#008000") || (pm10_now<59 && "#FFFF00") ||
                    (pm10_now<67 && "#FFCC66") || (pm10_now<76 && "#FFA500") ||
                    (pm10_now<84 && "#FFA500") || (pm10_now<92 && "#FFA500") ||
                    (pm10_now<101 && "#FFA500") || "#FF00FF";
        if (pm10_now > 120) {
            pm10_now = 120
        }


        var ctx_now1 = document.getElementById("now1_chart");
        var config_now1 = createConfigNow("PM 0.1", [pm1_now, 100-pm1_now], "rgb(255, 255, 255)");
        new Chart(ctx_now1, config_now1);

        var ctx_now2 = document.getElementById("now2_chart");
        var config_now2 = createConfigNow("PM 2.5", [pm25_now, 100-pm25_now], pm25_color);
        new Chart(ctx_now2, config_now2);

        var ctx_now3 = document.getElementById("now3_chart");
        var config_now3 = createConfigNow("PM 1.0", [pm10_now, 120-pm10_now], pm10_color);
        new Chart(ctx_now3, config_now3);

    }
    
    function updateChartLine() {
        $('#line_chart').remove();
        $('#line_chart_div').append('<canvas id="line_chart" style="height:400px"></canvas>');

        var ctx_now = document.getElementById("line_chart");
        var datasets_now = 
                [{
                    label: "pm 1.0",
                    data: pm1_list,
                    backgroundColor: "rgba(50, 255, 100, 0.3)",
                    borderColor: "rgba(50,255,100,1)",
                    fill: "start",
                    lineTension: 0,
                    pointRadius: 1,
                }, {
                    label: "pm 2.5",
                    data: pm25_list,
                    backgroundColor: "rgba(50, 150, 255, 0.3)",
                    borderColor: "rgba(50,150,255,1)",
                    fill: "start",
                    lineTension: 0,
                    pointRadius: 1,
                }, {
                    label: "pm 10",
                    data: pm10_list,
                    backgroundColor: "rgba(255, 150, 50, 0.3)",
                    borderColor: "rgba(255,150,50,1)",
                    fill: "start",
                    lineTension: 0,
                    pointRadius: 1,
                }];
        var config_now = createConfigLine(air_date_list, datasets_now);
        new Chart(ctx_now, config_now);
        
    }


</script>
{% endblock script %}
