<div class="tab-pane fade show active" id="pills-1" role="tabpanel">
    <div>
        <div class="row mt-4">
            <div class="col-md-4 mb-3">
                <div class="card bg-dark">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 id="pm1_num">25</h4>
                                <p class="mb-0">PM 1.0</p>
                            </div>
                            <div class="col-md-6">
                                <canvas id="chart_pm1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card bg-dark">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 id="pm25_num">50</h4>
                                <p class="mb-0">PM 2.5</p>
                            </div>
                            <div class="col-md-6">
                                <canvas id="chart_pm25"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card bg-dark">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 id="pm10_num">100</h4>
                                <p class="mb-0">PM 10</p>
                            </div>
                            <div class="col-md-6">
                                <canvas id="chart_pm10"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="card bg-dark">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <h5 style="display: inline;">空氣品質 - 懸浮微粒</h5>
                            </div>
                            
                            <div class="col-5 ">
                                <div class="row justify-content-end">
                                <!-- <div class="form-inline">
                                    <input type="text" id="date_start" class="datepicker" placeholder="開始日期" size="10"/>
                                    <input type="text" id="date_end" class="datepicker" placeholder="結束日期" size="10"/>
                                </div> -->
                                <div class="dropdown">
                                    <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropdown button
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <form class="px-2">
                                            
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio_today" name="customRadio_pm" class="custom-control-input" value="today" CHECKED>
                                                <label class="custom-control-label d-flex justify-content-between" for="customRadio_today">
                                                    <span>今天</span>
                                                    <span class="text-muted" id="date_today">10/25</span>
                                                </label>
                                            </div>
                            
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio_yesterday" name="customRadio_pm" class="custom-control-input" value="yesterday">
                                                <label class="custom-control-label d-flex justify-content-between" for="customRadio_yesterday">
                                                    <span>昨天</span>
                                                    <span class="text-muted" id="date_yesterday">10/24</span>
                                                </label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio_24hr" name="customRadio_pm" class="custom-control-input" value="24hr">
                                                <label class="custom-control-label d-flex justify-content-between" for="customRadio_24hr">
                                                    <span>24小時</span>
                                                    <span class="text-muted" id="date_24hr">24hr</span>
                                                </label>
                                            </div>
                            
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio_custom" name="customRadio_pm" class="custom-control-input" value="custom">
                                                <label class="custom-control-label d-flex justify-content-between" for="customRadio_custom">
                                                    <input id="flatpickr_pm_date" class="flatpickr flatpickr-input" type="text" placeholder="選擇日期..." size="21">
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="chart_pm_div">
                        <canvas id="chart_pm" style="height:400px"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-right" style="color:#c1c1c1;">
                最後一筆數據時間：<span id="updated">2018-11-17T13:43:14.224+08:00</span>
            </div>
        </div>

    </div>
</div>

<script>
const fp_pm = flatpickr("#flatpickr_pm_date", {
    locale: "zh",
    mode: "range",
    maxDate: "today",
    dateFormat: "Y/m/d",
    defaultDate: [Today_format,Today_format],

    onClose:function(selectedDates, dateStr, instance){
        Date_A = selectedDates[0];
        Date_B = selectedDates[1];
        Date_B.setDate(Date_B.getDate()+1);
        $("input[name=customRadio][value='custom']").attr('checked',true);
        //calcDate(Date_A, Date_B);
        updateData(Date_A, Date_B);
        updateChartLine_pm();
    }
});

var customRadio_pm = $("input[name=customRadio_pm]:radio");
customRadio_pm.change(function () {
    console.log($(this).val())
    if($(this).val() == "today"){
        console.log(Today);
        console.log(Tomorrow);
        updateData(Today, Tomorrow);
        updateChartLine_pm();
    }
    else if($(this).val() == "yesterday"){
        updateData(Yesterday, Today);
        updateChartLine_pm();
    }
    else if($(this).val() == "24hr"){
        var date24hr = new Date(Now.getTime());
        date24hr.setDate(date24hr.getDate()-1);
        updateData(date24hr, Now);
        updateChartLine_pm();
    }
    else if($(this).val() == "custom"){
        updateData(Date_A, Date_B);
        updateChartLine_pm();
    }
    
});

function updateChartNow_pm() {
    var temp_date = new Date(airData[airData.length-1].creation_date)
    var update_time = temp_date.getFullYear() +"/"+
                        ('0'+ (temp_date.getMonth()+1)).substr(-2) +"/"+
                        ('0'+ temp_date.getDate()).substr(-2) +" "+
                        ('0'+ temp_date.getHours()).substr(-2) +":"+
                        ('0'+ temp_date.getMinutes()).substr(-2);
    $("#updated").html(update_time);

    // -----懸浮微粒-----
    var airData_now = airData[airData.length-1];

    var pm1_now = airData_now.pm1;
    var pm25_now = airData_now.pm25;
    var pm10_now = airData_now.pm10
    $("#pm1_num").html(pm1_now);
    $("#pm25_num").html(pm25_now);
    $("#pm10_num").html(pm10_now);

    var pm25_color =(pm25_now<12 && "#90EE90") || (pm25_now<24 && "#00FF00") ||
                (pm25_now<36 && "#008000") || (pm25_now<42 && "#FFFF00") ||
                (pm25_now<48 && "#FFCC66") || (pm25_now<54 && "#FFA500") ||
                (pm25_now<59 && "#FFA500") || (pm25_now<65 && "#FFA500") ||
                (pm25_now<71 && "#FFA500") || "#FF00FF";
    if (pm25_now > 100) {
        pm25_now = 100
    }
    
    var pm10_color =(pm10_now<17 && "#90EE90") || (pm10_now<34 && "#00FF00") ||
                (pm10_now<51 && "#008000") || (pm10_now<59 && "#FFFF00") ||
                (pm10_now<67 && "#FFCC66") || (pm10_now<76 && "#FFA500") ||
                (pm10_now<84 && "#FFA500") || (pm10_now<92 && "#FFA500") ||
                (pm10_now<101 && "#FFA500") || "#FF00FF";
    if (pm10_now > 120) {
        pm10_now = 120
    }


    var ctx_pm1 = document.getElementById("chart_pm1");
    var config_pm1 = createConfigNow("PM 0.1", [pm1_now,100-pm1_now], "rgb(255, 255, 255)");
    new Chart(ctx_pm1, config_pm1);

    var ctx_pm25 = document.getElementById("chart_pm25");
    var config_pm25 = createConfigNow("PM 2.5", [pm25_now,100-pm25_now], pm25_color);
    new Chart(ctx_pm25, config_pm25);

    var ctx_pm10 = document.getElementById("chart_pm10");
    var config_pm10 = createConfigNow("PM 1.0", [pm10_now,120-pm10_now], pm10_color);
    new Chart(ctx_pm10, config_pm10);
}

function updateChartLine_pm() {
    // -----懸浮微粒-----
    $('#chart_pm').remove();
    $('#chart_pm_div').append('<canvas id="chart_pm" style="height:400px"></canvas>');

    var ctx_pm = document.getElementById("chart_pm");
    var datasets_pm = 
            [{
                label: "pm 1.0",
                data: pm1_list,
                backgroundColor: "rgba(50, 255, 100, 0.3)",
                borderColor: "rgba(50,255,100,1)",
                fill: "start",
                lineTension: 0,
                pointRadius: 1,
            }, {
                label: "pm 2.5",
                data: pm25_list,
                backgroundColor: "rgba(50, 150, 255, 0.3)",
                borderColor: "rgba(50,150,255,1)",
                fill: "start",
                lineTension: 0,
                pointRadius: 1,
            }, {
                label: "pm 10",
                data: pm10_list,
                backgroundColor: "rgba(255, 150, 50, 0.3)",
                borderColor: "rgba(255,150,50,1)",
                fill: "start",
                lineTension: 0,
                pointRadius: 1,
            }];
    var config_pm = createConfigLine(air_date_list, datasets_pm);
    new Chart(ctx_pm, config_pm);
    


    // -----VOC-----
    var voc_now = voc_list[voc_list.length - 1];
    $("#voc_num").html(voc_now);

    var ctx_voc = document.getElementById("chart_voc");
    var config_voc = createConfigNow("VOC", [voc_now,100-voc_now], "rgb(255, 255, 255)");
    new Chart(ctx_voc, config_voc);
    

    var ctx_voc2 = document.getElementById("chart_voc2");
    var datasets_voc2 = 
            [{
                label: "VOC",
                data: voc_list,
                backgroundColor: "rgba(50, 255, 100, 0.3)",
                borderColor: "rgba(50,255,100,1)",
                fill: "start",
                lineTension: 0,
            }];
    var config_voc2 = createConfigLine(air_date_list, datasets_voc2);
    new Chart(ctx_voc2, config_voc2);

}
</script>
