{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--行動裝置-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My site{% endblock title %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <!-- flatpickr.js v4.5.2 -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/themes/dark.css">
    
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <!-- <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" /> -->

    
    <style>
    body {
        font-family : "MS Sans Serif", "微軟正黑體", "新細明體", "細明體" ;
        background-color : #10101b;
        color : #f0f0f0;
    }
    
    .introduce-bg2{
        background-color : #1D1D27;
        padding : 20px;
    }
    .introduce-mid{
        width : 80%;
        margin : auto;
    }
    .introduce-googlook{
        width : 70%;
    }
    .navbar-width{
        width : 40%;
    }
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    </style>

    {% block head %}
    {% endblock head %}
</head>


<body id="body-bg">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #30619F;">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/static/images/favicon0.png" width="30" height="30" class="d-inline-block align-top">
            AI Lab
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% block nav1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">總覽</a>
                    </li>
                {% endblock nav1 %}
                {% block nav2 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'aqm_pm' %}">空氣品質監測</a>
                    </li>
                {% endblock nav2 %}
                {% block nav3 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'aquarium' %}">水族生態</a>
                    </li>
                {% endblock nav3 %}
            </ul>
        </div>
    </nav>
    <hr>
    
    {% block main %}
    {% endblock main %}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/l10n/zh.js"></script>


    <script type="text/javascript">
        document.addEventListener('turbolinks:load', function () {
            FontAwesome.dom.i2svg()
        })
    </script>
    {% block script %}
    {% endblock script %}
	
</body>

</html>
