{% extends 'monitor/base.html' %}

{% block title %}總覽 | {{ block.super }}{% endblock title %}

{% block nav1 %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}"><strong>總覽</strong></a>
    </li>
{% endblock nav1 %}

{% block main %}
{{ block.super }}
<div class="introduce-bg2 introduce-mid">
    <h1><span class="badge" style="background-color:#45455d;">總覽</span></h1>
    


    <div class="row mt-4">
        <div class="col-md-12 mb-3">
            <div class="card bg-dark">
                <div class="card-body">
                    <h4>空氣品質</h4>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <span class="h2" id="pm1_num">20</span> μg/m<sup>3</sup>
                            <h6 class="mt-1">pm 1.0</h6>
                        </div>
                        <div class="col-md-3">
                            <span class="h2" id="pm25_num">30</span> μg/m<sup>3</sup>
                            <h6 class="mt-1">pm 2.5</h6>
                        </div>
                        <div class="col-md-3">
                            <span class="h2" id="pm10_num">40</span> μg/m<sup>3</sup>
                            <h6 class="mt-1">pm 10</h6>
                        </div>
                        <div class="col-md-3">
                            <span class="h2" id="voc_num">30</span>
                            <h6 class="mt-1">VOC</h6>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-3">
                            <span class="h2" id="mq9_num">20</span>
                            <h6 class="mt-1">MQ-9</h6>
                        </div>
                        <div class="col-md-3">
                            <span class="h2" id="mq135_num">30</span>
                            <h6 class="mt-1">MQ-135</h6>
                        </div>
                        <div class="col-md-3">
                            <span class="h2" id="t_num">20</span> °C
                            <h6 class="mt-1">溫度</h6>
                        </div>
                        <div class="col-md-3">
                            <span class="h2" id="h_num">60</span> %
                            <h6 class="mt-1">濕度</h6>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col text-right">
                            最後更新時間：<span id="updated1">2018/11/27 11:14</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <div class="card bg-dark">
                <div class="card-body">
                    <h4><s>水族生態</s> (尚未完成)</h4>
                    <h5 class="mt-3">恐龍魚</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="h2">27.7</span> ℃
                            <h6 class="mt-1">空氣溫度</h6>
                        </div>
                        <div class="col-md-3">
                            <span class="h2">26.8</span> ℃
                            <h6 class="mt-1">水中溫度</h6>
                        </div>
                        <div class="col-md-3">
                            <span class="h2">On</span>
                            <h6 class="mt-1">LED燈狀態</h6>
                        </div>
                    </div>
                    
                    <h5 class="mt-4">蝦子</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="h2">27.9</span> ℃
                            <h6 class="mt-1">空氣溫度</h6>
                        </div>
                        <div class="col-md-3">
                            <span class="h2">27.0</span> ℃
                            <h6 class="mt-1">水中溫度</h6>
                        </div>
                        <div class="col-md-3">
                            <span class="h2"> Off </span>
                            <h6 class="mt-1">LED燈狀態</h6>
                        </div>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col text-right">
                            最後更新時間：<span id="updated2">2018/12/00 00:00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>


    <small>
        Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </small>

{% endblock main %}


{% block script %}
{{ block.super }}

<script>
    var airData = {{airData|safe}};
    airData_new = airData[0];
    
    $("#pm1_num").html(airData_new.pm1);
    $("#pm25_num").html(airData_new.pm25);
    $("#pm10_num").html(airData_new.pm10);

    $("#voc_num").html(airData_new.tgs2602);
    $("#mq9_num").html(airData_new.mq9);
    $("#mq135_num").html(airData_new.mq135);
    $("#t_num").html(airData_new.temperature);
    $("#h_num").html(airData_new.humidity);

    var datetime = new Date(airData_new.creation_date)
    var date_format = datetime.getFullYear() +"/"+
                ('0'+ (datetime.getMonth()+1)).substr(-2) +"/"+
                ('0'+ datetime.getDate()).substr(-2) +" "+
                ('0'+ datetime.getHours()).substr(-2) +":"+
                ('0'+ datetime.getMinutes()).substr(-2);
    $("#updated1").html(date_format);
    
</script>

{% endblock script %}


