<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="ai_lab" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python36\python.exe|C:\site\ai_lab\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
